In [3]:
import numpy as np
import pandas as pd

In [32]:
df=pd.DataFrame([[10,20,30,40],
                [10.5,20.5,30.5,40.5],
                ['hi','hello','day','month'],
                [np.nan,np.nan,np.nan,np.nan]],columns=['int','float','string','data'])

In [33]:
df

    int  float string   data
0    10     20     30     40
1  10.5   20.5   30.5   40.5
2    hi  hello    day  month
3   NaN    NaN    NaN    NaN

In [36]:
df.agg('mean',axis=1)

0    25.0
1    25.5
3     NaN
dtype: float64

In [39]:
df.agg('min',axis=0)

Series([], dtype: float64)

In [1]:
#Grouping Example
decade=10*(planets['year']//10)
decade.head()

NameError: name 'planets' is not defined

In [2]:
decade=decade.astype(str)+'s'
decade.head()

NameError: name 'decade' is not defined

In [3]:
decade.name='decade'
planets.groupby(['method',decade])['number'].sum().fillna(0)

NameError: name 'decade' is not defined