In [1]:
import numpy as np
import pandas as pd
import pandas_profiling 
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

In [10]:
data=pd.DataFrame([[np.nan,10,30,np.nan],[20,9,30,np.nan],[4,np.nan,40,20],[5,20,np.nan,60]],columns=['a','b','c','d'])

In [11]:
data

      a     b     c     d
0   NaN  10.0  30.0   NaN
1  20.0   9.0  30.0   NaN
2   4.0   NaN  40.0  20.0
3   5.0  20.0   NaN  60.0

In [12]:
data.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
#TRESH

In [23]:
data

      a     b     c     d
0   NaN  10.0  30.0   NaN
1  20.0   9.0  30.0   NaN
2   4.0   NaN  40.0  20.0
3   5.0  20.0   NaN  60.0

In [24]:
data.dropna(axis='rows',thresh=3)

      a     b     c     d
1  20.0   9.0  30.0   NaN
2   4.0   NaN  40.0  20.0
3   5.0  20.0   NaN  60.0

In [26]:
df=pd.DataFrame({'Int':[10,20,30,np.nan,50,60],'Float':[20.5,10.5,5.5,2.5,6.5,np.nan],'complex':[np.nan,2j+3,np.nan,23j+2,5j+2,np.nan]})

In [27]:
df.isnull()

     Int  Float  complex
0  False  False     True
1  False  False    False
2  False  False     True
3   True  False    False
4  False  False    False
5  False   True     True

In [28]:
for i in df.columns:
       fill = np.nanmean(df[i])
       print(fill)
       df[i].replace(np.nan,fill,inplace=True)
       
print(df)

34.0
9.1
(2.333333333333333+10j)
    Int  Float              complex
0  10.0   20.5  2.333333+10.000000j
1  20.0   10.5   3.000000+2.000000j
2  30.0    5.5  2.333333+10.000000j
3  34.0    2.5  2.000000+23.000000j
4  50.0    6.5   2.000000+5.000000j
5  60.0    9.1  2.333333+10.000000j