In [1]:
import pandas as pd

In [2]:
tri_data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/madelon_train.data',header=None)

In [3]:
tri_data

                                                      0
0     485 477 537 479 452 471 491 476 475 473 455 50...
1     483 458 460 487 587 475 526 479 485 469 434 48...
2     487 542 499 468 448 471 442 478 480 477 468 49...
3     480 491 510 485 495 472 417 474 502 476 455 52...
4     484 502 528 489 466 481 402 478 487 468 432 49...
...                                                 ...
1995  490 505 503 474 463 461 519 476 518 467 513 48...
1996  480 475 476 480 495 482 515 479 480 484 494 45...
1997  480 517 631 470 485 474 535 476 493 466 534 46...
1998  484 481 505 478 542 477 518 477 510 472 525 48...
1999  474 493 469 486 521 475 494 479 481 473 462 47...

[2000 rows x 1 columns]

In [4]:
tes_data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/madelon_test.data',header=None)

In [5]:
tes_data

                                                      0
0     483 460 559 477 462 491 499 475 495 479 468 47...
1     484 509 538 473 548 497 551 477 498 471 430 48...
2     476 529 558 477 505 486 545 477 473 480 442 46...
3     487 475 480 494 477 472 512 477 486 480 455 49...
4     486 490 480 471 520 481 437 476 484 482 487 52...
...                                                 ...
1795  483 502 484 476 508 473 472 475 502 484 481 51...
1796  481 469 473 493 507 485 470 480 486 488 554 46...
1797  479 499 538 462 481 476 472 474 465 475 507 53...
1798  481 499 493 490 495 482 478 478 469 473 535 47...
1799  481 439 543 488 476 470 474 475 467 464 499 49...

[1800 rows x 1 columns]