In [1]:
import numpy as np
import pandas as pd
import pandas_profiling 
import matplotlib.pyplot as plt

In [2]:
li = list(range(255,300))
li

li[0]

255

In [3]:
Data = pd.Series(li)
Data

0     255
1     256
2     257
3     258
4     259
5     260
6     261
7     262
8     263
9     264
10    265
11    266
12    267
13    268
14    269
15    270
16    271
17    272
18    273
19    274
20    275
21    276
22    277
23    278
24    279
25    280
26    281
27    282
28    283
29    284
30    285
31    286
32    287
33    288
34    289
35    290
36    291
37    292
38    293
39    294
40    295
41    296
42    297
43    298
44    299
dtype: int64

In [4]:
tu = (10.5,20.5,35.6,75.5,80.5)
tu

(10.5, 20.5, 35.6, 75.5, 80.5)

In [5]:
Se = pd.Series(tu)
Se

0    10.5
1    20.5
2    35.6
3    75.5
4    80.5
dtype: float64

In [6]:
Data

0     255
1     256
2     257
3     258
4     259
5     260
6     261
7     262
8     263
9     264
10    265
11    266
12    267
13    268
14    269
15    270
16    271
17    272
18    273
19    274
20    275
21    276
22    277
23    278
24    279
25    280
26    281
27    282
28    283
29    284
30    285
31    286
32    287
33    288
34    289
35    290
36    291
37    292
38    293
39    294
40    295
41    296
42    297
43    298
44    299
dtype: int64

In [7]:
Data.head()

0    255
1    256
2    257
3    258
4    259
dtype: int64

In [8]:
Data.tail()

40    295
41    296
42    297
43    298
44    299
dtype: int64

In [9]:
Data.describe()

count     45.000000
mean     277.000000
std       13.133926
min      255.000000
25%      266.000000
50%      277.000000
75%      288.000000
max      299.000000
dtype: float64

In [10]:
Data.index

RangeIndex(start=0, stop=45, step=1)

In [11]:
Data.shape

(45,)

In [12]:
Data.size

45

In [13]:
Data.item

<bound method IndexOpsMixin.item of 0     255
1     256
2     257
3     258
4     259
5     260
6     261
7     262
8     263
9     264
10    265
11    266
12    267
13    268
14    269
15    270
16    271
17    272
18    273
19    274
20    275
21    276
22    277
23    278
24    279
25    280
26    281
27    282
28    283
29    284
30    285
31    286
32    287
33    288
34    289
35    290
36    291
37    292
38    293
39    294
40    295
41    296
42    297
43    298
44    299
dtype: int64>

In [14]:
Data.dtype

dtype('int64')

In [15]:
s = pd.Series(['a','a','b','b','b','c'])
s

0    a
1    a
2    b
3    b
4    b
5    c
dtype: object

In [16]:
s.describe()

count     6
unique    3
top       b
freq      3
dtype: object

In [17]:
se = pd.Series([
    np.datetime64('2000-01-01'),
    np.datetime64('2010-01-01'),
    np.datetime64('2010-01-01')]) 
se

0   2000-01-01
1   2010-01-01
2   2010-01-01
dtype: datetime64[ns]

In [18]:
se = pd.Series([
    np.datetime64('2000-01-01'),
    np.datetime64('2010-01-01'),
    np.datetime64('2010-01-01')
    
],index=['Dob','dob_1','Dob_2']) ##if you wount indexing they give the indexing value
se

Dob     2000-01-01
dob_1   2010-01-01
Dob_2   2010-01-01
dtype: datetime64[ns]

In [19]:
se[0]

Timestamp('2000-01-01 00:00:00')

In [20]:
se['Dob']

Timestamp('2000-01-01 00:00:00')

In [21]:
se.describe()

count                       3
unique                      2
top       2010-01-01 00:00:00
freq                        2
first     2000-01-01 00:00:00
last      2010-01-01 00:00:00
dtype: object

In [22]:
se.info() # in series they don't display the information

AttributeError: 'Series' object has no attribute 'info'

In [23]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
x=pd.DataFrame(sea_creatures)
x

               0
0          shark
1     cuttlefish
2          squid
3  mantis shrimp
4        anemone

In [24]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

In [25]:
x.head()

               0
0          shark
1     cuttlefish
2          squid
3  mantis shrimp
4        anemone

In [26]:
x.tail()

               0
0          shark
1     cuttlefish
2          squid
3  mantis shrimp
4        anemone

In [46]:
x.shape

(5, 1)

In [47]:
x.size

5

In [48]:
x.items()

In [49]:
x.ndim

2

In [50]:
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [51]:
y=pd.DataFrame(my_tuple)
y

       0
0      1
1  Hello
2    3.4

In [52]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [34]:
y.describe()

          0
count   3.0
unique  3.0
top     3.4
freq    1.0

In [35]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [36]:
z=pd.DataFrame(my_set)
z

           0
0          1
1      Hello
2  (1, 2, 3)

In [37]:
z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [38]:
z.describe()

                0
count           3
unique          3
top     (1, 2, 3)
freq            1

In [39]:
df =pd.DataFrame(np.random.random(10))
df

          0
0  0.748990
1  0.004218
2  0.523503
3  0.687490
4  0.591527
5  0.285942
6  0.824408
7  0.317196
8  0.692388
9  0.140704

In [40]:
df['Data']=np.random.randn(10)# if you add the one more colume into the data frame with title

df['name']=np.array(['mani','kanta','sri','balu','phani','chinna','srinu','tinku','hell','pandu'])

In [41]:
df

          0      Data    name
0  0.748990 -0.769349    mani
1  0.004218 -0.156856   kanta
2  0.523503 -0.895816     sri
3  0.687490  0.348695    balu
4  0.591527  0.552454   phani
5  0.285942 -1.149512  chinna
6  0.824408 -0.044140   srinu
7  0.317196 -1.316696   tinku
8  0.692388  0.139079    hell
9  0.140704 -0.045828   pandu

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   Data    10 non-null     float64
 2   name    10 non-null     object
dtypes: float64(2), object(1)
memory usage: 368.0+ bytes

In [54]:
df.head()

          0      Data   name
0  0.748990 -0.769349   mani
1  0.004218 -0.156856  kanta
2  0.523503 -0.895816    sri
3  0.687490  0.348695   balu
4  0.591527  0.552454  phani

In [44]:
df.tail()

          0      Data    name
5  0.285942 -1.149512  chinna
6  0.824408 -0.044140   srinu
7  0.317196 -1.316696   tinku
8  0.692388  0.139079    hell
9  0.140704 -0.045828   pandu

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   Data    10 non-null     float64
 2   name    10 non-null     object
dtypes: float64(2), object(1)
memory usage: 368.0+ bytes

In [56]:
df.describe()

               0       Data
count  10.000000  10.000000
mean    0.481637  -0.333797
std     0.278706   0.650644
min     0.004218  -1.316696
25%     0.293756  -0.864199
50%     0.557515  -0.101342
75%     0.691164   0.093274
max     0.824408   0.552454

In [57]:
di = {'name':['Raju','Rani','Ram','Rajesh','Syam','Sathi','Juail'],
     'age':(28,30,35,np.nan,29,27,15),
      'Gender':('M','F','M','M','F','M','M')
     }
di

{'name': ['Raju', 'Rani', 'Ram', 'Rajesh', 'Syam', 'Sathi', 'Juail'],
 'age': (28, 30, 35, nan, 29, 27, 15),
 'Gender': ('M', 'F', 'M', 'M', 'F', 'M', 'M')}

In [58]:
df = pd.DataFrame(di)
df

     name   age Gender
0    Raju  28.0      M
1    Rani  30.0      F
2     Ram  35.0      M
3  Rajesh   NaN      M
4    Syam  29.0      F
5   Sathi  27.0      M
6   Juail  15.0      M

In [59]:
df.shape

(7, 3)

In [60]:
df.head()

     name   age Gender
0    Raju  28.0      M
1    Rani  30.0      F
2     Ram  35.0      M
3  Rajesh   NaN      M
4    Syam  29.0      F

In [61]:
df.tail()

     name   age Gender
2     Ram  35.0      M
3  Rajesh   NaN      M
4    Syam  29.0      F
5   Sathi  27.0      M
6   Juail  15.0      M

In [62]:
df.describe()

             age
count   6.000000
mean   27.333333
std     6.653320
min    15.000000
25%    27.250000
50%    28.500000
75%    29.750000
max    35.000000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   age     6 non-null      float64
 2   Gender  7 non-null      object
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes

In [64]:
df = pd.DataFrame({'Categorical':pd.Categorical(['d','e','f','a','e']),
                   'Numerical':np.array([1,2,3,4,5]),
                   'object':['Reddy','Mail','Mili','Rani','Raju'],
                   'Gender':('M','F','M','F','M')
                  })
df

  Categorical  Numerical object Gender
0           d          1  Reddy      M
1           e          2   Mail      F
2           f          3   Mili      M
3           a          4   Rani      F
4           e          5   Raju      M

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Categorical  5 non-null      category
 1   Numerical    5 non-null      int64
 2   object       5 non-null      object
 3   Gender       5 non-null      object
dtypes: category(1), int64(1), object(2)
memory usage: 445.0+ bytes

In [67]:
df.describe()

       Numerical
count   5.000000
mean    3.000000
std     1.581139
min     1.000000
25%     2.000000
50%     3.000000
75%     4.000000
max     5.000000

In [68]:
df.describe(include='all')

       Categorical  Numerical object Gender
count            5   5.000000      5      5
unique           4        NaN      5      2
top              e        NaN   Rani      M
freq             2        NaN      1      3
mean           NaN   3.000000    NaN    NaN
std            NaN   1.581139    NaN    NaN
min            NaN   1.000000    NaN    NaN
25%            NaN   2.000000    NaN    NaN
50%            NaN   3.000000    NaN    NaN
75%            NaN   4.000000    NaN    NaN
max            NaN   5.000000    NaN    NaN

In [69]:
df.describe(exclude=[np.number])

       Categorical object Gender
count            5      5      5
unique           4      5      2
top              e   Rani      M
freq             2      1      3

In [70]:
df.describe(exclude=[np.object])

       Categorical  Numerical
count            5   5.000000
unique           4        NaN
top              e        NaN
freq             2        NaN
mean           NaN   3.000000
std            NaN   1.581139
min            NaN   1.000000
25%            NaN   2.000000
50%            NaN   3.000000
75%            NaN   4.000000
max            NaN   5.000000

In [71]:
pandas_profiling.ProfileReport(df)

TypeError: unhashable type: 'list'

In [72]:
my_dict = pd.DataFrame({'Categorical':pd.Categorical(['manikanta','koti','venkatesh','praveen','satya','jyothi','srinu']),
                        'age':np.array([26,27,28,22,25,24,22]),
                        'percentage':np.array([96,92.5,90,75,82.5,72,65]),
                        'Gender':('M','M','M','M','F','F','M')
                       })

In [73]:
pandas_profiling.ProfileReport(my_dict)

TypeError: unhashable type: 'list'

In [74]:
dic=pd.DataFrame({'Name': ['mani','Jyothi','srinu','pandu','Durga','venkatesh','Asha','venky','lavanya','praven'], 
                  'Age': [25,28,20,22,24,23,22,25,27,28], 
                  'Gender':['M','F','M','M','F','M','F','M','F','M'],
                  'Class':['10th class','10th class','10th class','10th class','10th class','10th class','10th class','10th class','10th class','10th class'],
                  'attendance(%)':[88,85,75,94,86,91,93,65,68,75],
                  'Telugu':[85,86,78,92,65,56,88,65,72,56],
                  'Hindi':[58,68,91,86,75,65,66,45,82,56],
                  'English':[85,65,72,62,56,69,80,58,62,78],
                  'Maths':[98,88,86,92,85,94,91,75,62,91],
                  'Science':[87,84,92,94,65,86,72,86,45,91],
                  'Social':[88,87,95,94,91,75,65,56,85,45],
                  'Percentage': [65,68,75,79,98,95,84,75,82,91]})
                 
                 
dic

,Name,Age,Gender,Class,attendance(%),Telugu,Hindi,English,Maths,Science,Social,Percentage
0,mani,25,M,10th class,88,85,58,85,98,87,88,65
1,Jyothi,28,F,10th class,85,86,68,65,88,84,87,68
2,srinu,20,M,10th class,75,78,91,72,86,92,95,75
3,pandu,22,M,10th class,94,92,86,62,92,94,94,79
4,Durga,24,F,10th class,86,65,75,56,85,65,91,98
5,venkatesh,23,M,10th class,91,56,65,69,94,86,75,95
6,Asha,22,F,10th class,93,88,66,80,91,72,65,84
7,venky,25,M,10th class,65,65,45,58,75,86,56,75
8,lavanya,27,F,10th class,68,72,82,62,62,45,85,82
9,praven,28,M,10th class,75,56,56,78,91,91,45,91

In [75]:
pandas_profiling.ProfileReport(dic)

/home/manikanta/.local/lib/python3.6/site-packages/pandas_profiling/model/correlations.py:35: RuntimeWarning: invalid value encountered in double_scalars
  return np.sqrt(phi2corr / min((kcorr - 1.0), (rcorr - 1.0)))
/home/manikanta/.local/lib/python3.6/site-packages/pandas_profiling/model/correlations.py:35: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(phi2corr / min((kcorr - 1.0), (rcorr - 1.0)))

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n

In [76]:
dic.head()

,Name,Age,Gender,Class,attendance(%),Telugu,Hindi,English,Maths,Science,Social,Percentage
0,mani,25,M,10th class,88,85,58,85,98,87,88,65
1,Jyothi,28,F,10th class,85,86,68,65,88,84,87,68
2,srinu,20,M,10th class,75,78,91,72,86,92,95,75
3,pandu,22,M,10th class,94,92,86,62,92,94,94,79
4,Durga,24,F,10th class,86,65,75,56,85,65,91,98

In [77]:
dic.tail()

,Name,Age,Gender,Class,attendance(%),Telugu,Hindi,English,Maths,Science,Social,Percentage
5,venkatesh,23,M,10th class,91,56,65,69,94,86,75,95
6,Asha,22,F,10th class,93,88,66,80,91,72,65,84
7,venky,25,M,10th class,65,65,45,58,75,86,56,75
8,lavanya,27,F,10th class,68,72,82,62,62,45,85,82
9,praven,28,M,10th class,75,56,56,78,91,91,45,91

In [79]:
dic.ndim

2

In [80]:
dic.describe()

,Age,attendance(%),Telugu,Hindi,English,Maths,Science,Social,Percentage
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000
mean,24.400000,82.000000,74.300000,69.200000,68.700000,86.20000,80.200000,78.100000,81.200000
std,2.716207,10.488088,13.391954,14.412957,9.832486,10.51771,15.317383,17.304142,11.033283
min,20.000000,65.000000,56.000000,45.000000,56.000000,62.00000,45.000000,45.000000,65.000000
25%,22.250000,75.000000,65.000000,59.750000,62.000000,85.25000,75.000000,67.500000,75.000000
50%,24.500000,85.500000,75.000000,67.000000,67.000000,89.50000,86.000000,86.000000,80.500000
75%,26.500000,90.250000,85.750000,80.250000,76.500000,91.75000,90.000000,90.250000,89.250000
max,28.000000,94.000000,92.000000,91.000000,85.000000,98.00000,94.000000,95.000000,98.000000

In [81]:
dic.shape

(10, 12)