In [1]:
import numpy as np
import pandas as pd
import scipy as stats
import matplotlib.pyplot as plt

In [2]:
# from pyhon time series
from datetime import datetime
datetime(year=2020,month=3,day=10)

datetime.datetime(2020, 3, 10, 0, 0)

In [4]:
from dateutil import parser
date=parser.parse("11th of Nov, 2020")
date

datetime.datetime(2020, 11, 11, 0, 0)

In [5]:
parser.parse('11-02-2019')

datetime.datetime(2019, 11, 2, 0, 0)

In [6]:
parser.parse('11/2/2015')

datetime.datetime(2015, 11, 2, 0, 0)

In [7]:
parser.parse('11-02-2013')

datetime.datetime(2013, 11, 2, 0, 0)

In [8]:
parser.parse('2019/12/23')

datetime.datetime(2019, 12, 23, 0, 0)

In [9]:
#datetime object you can day
date.strftime('%A')

'Wednesday'

In [10]:
date.strftime('%a')

'Wed'

In [11]:
date.strftime('%B')

'November'

In [12]:
date.strftime('%b')

'Nov'

In [13]:
date.strftime('%D')

'11/11/20'

In [14]:
date.strftime('%d')

'11'

In [15]:
date.strftime('%T')

'00:00:00'

In [17]:
date.strftime('%c')

'Wed Nov 11 00:00:00 2020'

In [19]:
#type of numpy of timeseries
import numpy as np
date=np.array('2020-11-19',dtype=np.datetime64)
date

array('2020-11-19', dtype='datetime64[D]')

In [20]:
date+np.arange(12)

array(['2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
       '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30'],
      dtype='datetime64[D]')

In [21]:
np.datetime64('2019-02-11')

numpy.datetime64('2019-02-11')

In [22]:
np.datetime64('2019-07-04 12:00')

numpy.datetime64('2019-07-04T12:00')

In [24]:
np.datetime64('2019-02-10 12:59:59.50','ns')

numpy.datetime64('2019-02-10T12:59:59.500000000')

In [25]:
#dates and times in pandas
import pandas as pd
date=pd.to_datetime('20th of Nov,2019')
date

Timestamp('2019-11-20 00:00:00')

In [26]:
date.strftime('%A'),date.strftime('%a')

('Wednesday', 'Wed')

In [27]:
date.strftime('%d'),date.strftime('%D')

('20', '11/20/19')

In [30]:
date.strftime('%w'),date.strftime('%W')

('3', '46')

In [29]:
date.strftime('%T')

'00:00:00'

In [31]:
date+pd.to_timedelta(np.arange(12),'d')

DatetimeIndex(['2019-11-20', '2019-11-21', '2019-11-22', '2019-11-23',
               '2019-11-24', '2019-11-25', '2019-11-26', '2019-11-27',
               '2019-11-28', '2019-11-29', '2019-11-30', '2019-12-01'],
              dtype='datetime64[ns]', freq=None)

In [32]:
date+pd.to_timedelta(np.arange(12),'w')

DatetimeIndex(['2019-11-20', '2019-11-27', '2019-12-04', '2019-12-11',
               '2019-12-18', '2019-12-25', '2020-01-01', '2020-01-08',
               '2020-01-15', '2020-01-22', '2020-01-29', '2020-02-05'],
              dtype='datetime64[ns]', freq=None)

In [33]:
#pandas time series index by time
date=pd.Series(date)
date

0   2019-11-20
dtype: datetime64[ns]

In [35]:
index=pd.DatetimeIndex(['2014-07-04','2014-08-04','2015-07-04','2015-08-04'])
data=pd.Series(['raje','rani','ram','ravi'],index=index)
data

2014-07-04    raje
2014-08-04    rani
2015-07-04     ram
2015-08-04    ravi
dtype: object

In [36]:
data['2014-07-04':'2015-07-04']

2014-07-04    raje
2014-08-04    rani
2015-07-04     ram
dtype: object

In [37]:
data['2015']

2015-07-04     ram
2015-08-04    ravi
dtype: object

In [38]:
#pandas timeseries data structure
dates=pd.to_datetime([datetime(2015,7,3),'4th of july,2015','27-08-2019','2019/11/23','12-2-2019'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2019-08-27', '2019-11-23',
               '2019-12-02'],
              dtype='datetime64[ns]', freq=None)

In [39]:
dates.to_period('D')

PeriodIndex(['2015-07-03', '2015-07-04', '2019-08-27', '2019-11-23',
             '2019-12-02'],
            dtype='period[D]', freq='D')

In [40]:
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2019-08-27', '2019-11-23',
               '2019-12-02'],
              dtype='datetime64[ns]', freq=None)

In [41]:
dates[0]

Timestamp('2015-07-03 00:00:00')

In [42]:
dates-dates[0]

TimedeltaIndex(['0 days', '1 days', '1516 days', '1604 days', '1613 days'], dtype='timedelta64[ns]', freq=None)

In [43]:
#Regular Sequences: pd.date_range()
pd.date_range('2019-11-08','2019-12-02')

DatetimeIndex(['2019-11-08', '2019-11-09', '2019-11-10', '2019-11-11',
               '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15',
               '2019-11-16', '2019-11-17', '2019-11-18', '2019-11-19',
               '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-23',
               '2019-11-24', '2019-11-25', '2019-11-26', '2019-11-27',
               '2019-11-28', '2019-11-29', '2019-11-30', '2019-12-01',
               '2019-12-02'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range('2019-12-22',periods=5)

DatetimeIndex(['2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range('2015-07-03',periods=8,freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [47]:
pd.date_range('2015-07-03',periods=8,freq='T')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 00:01:00',
               '2015-07-03 00:02:00', '2015-07-03 00:03:00',
               '2015-07-03 00:04:00', '2015-07-03 00:05:00',
               '2015-07-03 00:06:00', '2015-07-03 00:07:00'],
              dtype='datetime64[ns]', freq='T')

In [48]:
pd.date_range('2015-07-03',periods=8,freq='S')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 00:00:01',
               '2015-07-03 00:00:02', '2015-07-03 00:00:03',
               '2015-07-03 00:00:04', '2015-07-03 00:00:05',
               '2015-07-03 00:00:06', '2015-07-03 00:00:07'],
              dtype='datetime64[ns]', freq='S')

In [49]:
pd.date_range('2015-07-03',periods=8,freq='M')

DatetimeIndex(['2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
               '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29'],
              dtype='datetime64[ns]', freq='M')

In [50]:
#and a sequence of duractions increasing by an hour
pd.timedelta_range(0,periods=10,freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [51]:
pd.timedelta_range(0,periods=10,freq='T')

TimedeltaIndex(['00:00:00', '00:01:00', '00:02:00', '00:03:00', '00:04:00',
                '00:05:00', '00:06:00', '00:07:00', '00:08:00', '00:09:00'],
               dtype='timedelta64[ns]', freq='T')

In [52]:
pd.timedelta_range(0,periods=10,freq='S')

TimedeltaIndex(['00:00:00', '00:00:01', '00:00:02', '00:00:03', '00:00:04',
                '00:00:05', '00:00:06', '00:00:07', '00:00:08', '00:00:09'],
               dtype='timedelta64[ns]', freq='S')

In [54]:
#Frequencies and offsets
pd.offsets

In [55]:
pd.timedelta_range(0,periods=9,freq="2H30T")

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00',
                '12:30:00', '15:00:00', '17:30:00', '20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [59]:
from pandas.tseries.offsets import BDay
pd.date_range('2020-03-1',periods=8,freq=BDay())

DatetimeIndex(['2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11'],
              dtype='datetime64[ns]', freq='B')